body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Sigmar', sans-serif;
}
.App {
  background-color: #232025;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-header {
  background-color: #232025;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


